<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/angular.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
	</head>
	<body ng-app="wrapper">
		<div ng-controller="content">
			<table  class="table table-borderd table-hover">
				<tr>
					<th class="text-center">序号</th>
					<th class="text-center" ng-click="order='name';flg=!flg">姓名</th>
					<th class="text-center" ng-click="order='age';flg=!flg">年龄</th>
				</tr>
				<tr class="text-center" ng-repeat="item in arr|orderBy:order:flg" >
					<td>{{$index+1}}</td>
					<td>{{item.name}}</td>
					<td>{{item.age}}</td>
				</tr>
			</table>
		</div>
	</body>
	<script type="text/javascript">
		var app = angular.module('wrapper',[]);
		app.controller('content',function ($scope) {
			$scope.arr = [{name:'张安',age:18},{name:'萨达',age:38},{name:'浮动',age:8}];
			$scope.flg = 1;
		
		})
	</script>
</html>
