<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.red{
				color: red;
			}
			.blue{
				background-color: blue;
				padding: 10px;
			}
			.a{
				color: red;
			}
			.b{
				font-size: 20px;
			}
			.c{
				background-color: deepskyblue;
			}
			.d{
				border: 5px solid #000;
			}
		</style>
	</head>
	<body>
		<div id="box">
			<h2 :class="[red,b]">发给</h2>
			<p :class="[arr]">仏内容</p>
			<h2 :class="{red:true,blue:true}">卡尼吗</h2>
			<p :class="json">樱桃小丸子</p>
	
		</div>
		<br />
		<hr />
		
		<div id="ipt">
			<input type="text" v-model="str" debounce="3000" />
	<!--		<input type="text" v-model="str" lazy />-->
			<div :class="[c]" style="margin-top:100px">
				{{str}}
			</div>
			<br />
			<hr />
	
		</div>
		
		
		<hr />
		<div id="netbox">
			<h2 :style="[a,b]">发多少</h2>
			<p :style="{{color:'red'}}">范德萨发</p>
			<h2 :style="json">地方撒大师傅</h2>
		</div>
	</body>
	<script type="text/javascript">
		new Vue({
			el:'#box',
			data:{
				red:"red",
				blue:"blue",
				arr:"a b c d",
				json:{
					c:"c",
					blue:"blue",
					a:"a",
					b:"b"
				}
			}
		});
		
		new Vue({
			el:'#ipt',
			data:{
				c:"c",
				str:"这是一个很长的值"
			}
		});
		
		new Vue({
			el:'#netbox',
			data:{
				a:{color:"red"},
				b:{background:"blue"},
				json:{
					background:"yellow",
					color:"#000"
				}
			}
		});
	
		
	</script>
</html>
			