<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
		
		</style>
	</head>
	<body>
		
		<div id="app">
			<input type="text" v-model="str"/>	
			{{str}}
			<br />
			<input type="checkbox" v-model="checked"/>
			{{checked?"选中":"不选"}}
			<br />
			<!--默认第二个选中-->
			<select v-model="two">
				<option :value="one">{{str}}</option>
				<option :value="two">美国</option>
				<option >中国</option>
				<option >four</option>
			</select>
			<!--多选-->
			<select v-model="mul" multiple="">
				<option :value="one">{{str}}</option>
				<option >美国</option>
				<option :value="two">中国</option>
				<option >four</option>
			</select>
			<br />
			<hr />
			<input type="radio" name="male" value="男" v-model="one"/>男
			<input type="radio" name="male" value="女" v-model="one"/>女
			{{one}}
		</div>
	</body>
	<script type="text/javascript">
		new Vue({
			el:'#app',
			data:{			
				str:"我是默认数据",
				checked:true,
				one:"one",
				two:"two",
				mul:["one","two"]
				
			}
		});
	
	
	
		
		
	</script>
</html>
