<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.ball{
				width: 200px;
				height: 200px;
				background-color: lightblue;
			}
			
		</style>
	</head>
	<body>
		<!--
			v-href v-src v-bind:src    v-class v-bind v-if
		-->
		<ul id="box">
	
				<li>{{urls}}</li>
				<hr />
				<li>
					<a href="www.qq.com" :href="urls">卡悉尼</a>
				</li>
				<li><img src="../img/34/34_1.jpg" :src="src"/>索菲糕点房</li>
				<li :class="bClass" :title="tt">DFS</li>
		</ul>
		<br />
		<hr />
		<div id="if">
			<ul>
				<li v-if="str">{{str}}</li>
				<li v-if="fastr">{{fastr}}</li>
				<li v-if="age>30">{{age}}</li>
				<li v-if="name.indexOf('张')>=0">{{name}}</li>
				<li >{{datas?datas:50}}</li>
			</ul>
		</div>
		
	</body>
	<script type="text/javascript">
		new Vue({
			el:'#box',
			data:{
				urls:"http://www.baidu.com",
				src:"../img/34/34_8.jpg",
				tt:"鼠标经过显示title",
				bClass:"ball"
				
			}
		});
		
		new Vue({
			el:'#if',
			data:{
				str:true,
				fastr:false,
				age:31,
				name:"张三",
				datas:[20,10,30]
				
			}
		});
		
	
	
		
		
	</script>
</html>
