.input-area{
	padding: 20px;
	
}

.input-area input{
	width: 100%;
	height: 40px;
	border: none;
	font-size: 18px;
}
.input-area input:focus{
	border: none;
}

.input-area .username{
	border: 1px solid #ccc;
	box-sizing: content-box;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding-left: 40px;
	padding-right: 40px;
}
.input-area .password{
	box-sizing: content-box;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-left: 40px;
	padding-right: 40px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.login-button-div{
	padding: 0 20px 20px 20px;
}
.login-button-div button{
	border: none;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	font-size: 18px;
	background-color: #EEEEEE;
	color: #999;
}
.login-button-div button:active{
	background-color: #ddd;
}

.reg-and-change{
	padding: 0 20px 20px 20px;
	color: #aaa;
}
.reg-and-change span{
	cursor:pointer;
}
.reg-and-change span:active{ 
	color: #888;
}
.reg-and-change div:nth-child(1){
	width: 50%;
	float: left;
	text-align: left;
}
.reg-and-change div:nth-child(2){
	width: 50%;
	float: right;
	text-align: right;
	
}
