<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="container">
			<form action="" method="post">	
				<h2 class="text-center">留言板</h2>
				<div class="form-group">
				  <label for="male">用户名:</label>
				  	<input type="text" class="form-control" placeholder="username" id="male" v-model="username">
				</div>
				<div class="form-group">
				  <label for="shmale">年龄:</label>
				  	<input type="text" class="form-control" placeholder="年龄" id="shmale" v-model="age">
				</div>
				<div class="form-group">
				  <label for="hemale">性别:</label>
				  	<select class="form-control" id="hemale" v-model="sex">
						<option value="男">男</option>
						<option value="女">女</option>
					</select>
				</div>
				<div class="form-group">
					<div class="btn btn-success" @click="add()">
						保存
					</div>
					<div class="btn btn-primary">
						重置
					</div>
				</div>
			</form>
			
			<table class="table table-hover table-borderd text-center">
				<tr class="text-danger">
					<th class="text-center">序号</th>	
					<th class="text-center">名字</th>	
					<th class="text-center">年龄</th>	
					<th class="text-center">性别</th>	
					<th class="text-center">操作</th>	
				</tr>
				<tr v-for="(item,index) in message" >
					<td>{{index+1}}</td>
					<td>{{item.username}}</td>
					<td>{{item.age}}</td>
					<td>{{item.sex}}</td>	
					<td>										<!--出现模态框-->
						<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" @click="nowIndex=index">删除</button>
					</td>
		
				<tr>
					<td class="text-right" colspan="5">
						<button v-show="message.length!=0"  class="pull-right btn btn-danger" @click="nowIndex=-10" data-toggle="modal" data-target="#layer">删除全部</button>
					</td>
				</tr>
				<tr>
					<td v-show="message.length==0" colspan="5">暂无数据</td>
				</tr>
			</table>
			
			
			<!--模态框-->
			<div class="modal fade bs-example-modal-sm" id="layer">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">您确定删除？</h4>
						</div>
						<div class="modal-body text-right">
							<button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
							<button class="btn btn-danger btn-sm" data-dismiss="modal" @click="del(nowIndex)">确认</button>
						</div>
					</div>
				</div>
			</div>
		</div>

			
	
	</body>
	
	<script type="text/javascript">
		new Vue({
			el:".container",
			data:{
				message:[],
				//初始化对象
				username:"",
				age:"",
				sex:"",
				nowIndex:-10
			},
			created:function () {
				this.$http.get('data2.json').then(function (res) {
					this.message = eval(res).data;
					
				},function (result) {
					alert("请求失败")
				})
				
//				this.$http.get("data2.json").then((res) => {
//					this.message = eval(res).data;
//				}).catch(function (result){
//					alert("请求失败")
//				})
					
			},
			methods:{
				add:function () {
					this.message.push({
						username:this.username,
						age:this.age,
						sex:this.sex
					});
					this.username = "";
					this.age = "";
					this.sex = "";
				},
				del:function (obj) {
					
					if (obj<0) {
						this.message = [];
					}else{
						this.message.splice(obj,1)
					}
				}
			}
		})
	</script>
	





		
</html>