<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/vue.min_01.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div id="box">
			<ul>全读出来：
				<li v-for="item in arr">{{item}}</li>
			</ul>
			<hr />
			<ul>先把包含a的过滤出来,再把包含s的过滤出来：
				<li v-for="item in arr|filterBy 'a'|fileterBy 's'">
					{{item}}
				</li>								
			</ul>
			<hr />
			<ul>包涵b的过滤出来：
				<li v-for="item in arr|filterBy 'g'">
					{{item}}
				</li>								
			</ul>
			
		</div>
	</body>
	<script type="text/javascript">
		
		var vm = new Vue({
			data:{
				arr:['aaaccss','bbbdddas','cccdsadcs','dddadvvg','fffgd','gggsffs']
			}
		}).$mount('#box')
	
	
	</script>

</html>