<link rel="stylesheet" type="text/css" href="css/favorite.css"/>
<div class="table-view">
		<div class="tableview-cell">
			<a href="#/readDetail/10787">
				<div class="">即使是九十八岁，我也还要恋爱</div>
			</a>
		</div><div class="tableview-cell">
			<a href="#/readDetail/10790">
				<div class="">STORY｜天才</div>
			</a>
		</div><div class="tableview-cell">
			<a href="#/readDetail/10801">
				<div class="">STORY | 恶棍之死</div>
			</a>
		</div><div class="tableview-cell">
			<a href="#/readDetail/10802">
				<div class="">梦想一点都不伟大，但我还是想做有志向的三流</div>
			</a>
		</div><div class="tableview-cell">
			<a href="#/readDetail/10845">
				<div class="">胡适教你吃花酒</div>
			</a>
		</div>
	</div>