<link rel="stylesheet" type="text/css" href="css/login.css"/>
<div class="login">
    <div class="input-area">
        <div class="username">
            <input placeholder="请输入用户名" ng-model="username" type="text">
        </div>
        <div class="password">
            <input placeholder="请输入密码" ng-model="password" type="password">
        </div>
    </div>
    <div class="login-button-div">
        <button>登录</button>
    </div>
    <div class="reg-and-change">
        <div class="reg">
            <span>免费注册</span>
        </div>
        <div class="change">
            <span>忘记密码</span>
        </div>
    </div>
</div>