<link rel="stylesheet" type="text/css" href="css/main.css" />
<div class="wrap">
<div class="ads">
<img draggable="false" src="images/Fr1vUvOQsLGDhW8xvL8N51IomPjq.jpg">
</div>
<ul class="table-view">
	<li class="main-cell">
		<a href="#/readDetail/10813">
			<div class="main-cell-tag">
				<span class="ng-binding"> - 阅读 -</span>
			</div>
			<div class="main-cell-title">
				<span class="ng-binding">宇宙超度指南 · 坠落星球</span>
			</div>
			<div class="main-cell-author">
				<span class="ng-binding">作者: 李诞</span>
			</div>
			<div class="main-cell-icon">
				<img src="http://127.0.0.1/vue_angular01/images/FlccQ68Q7kLDBgdQljqQOgF73JXj.jpg">
			</div>
			<div class="main-cell-forward">
				<span class="ng-binding">这不是故事，这是宇宙&mdash;&mdash;空舟禅师</span>
			</div>
			<div class="main-cell-tool">
				<span>2017-03-29 10:00:00</span>
			<span class="ng-binding">收藏: 334</span>
			</div>
		</a>
	</li><li class="main-cell">
		<a href="#/readDetail/10845">
			<div class="main-cell-tag">
				<span class="ng-binding"> - 阅读 -</span>
			</div>
			<div class="main-cell-title">
				<span class="ng-binding">胡适教你吃花酒</span>
			</div>
			<div class="main-cell-author">
				<span class="ng-binding">作者: 李舒</span>
			</div>
			<div class="main-cell-icon">
				<img src="http://127.0.0.1/vue_angular01/images/Fjaq3GMG2TRIM4KdH89yzc5doMxX.jpg">
			</div>
			<div class="main-cell-forward">
				<span class="ng-binding">“从打牌到喝酒，从喝酒又到叫局，从叫局到吃花酒，不到两个月，我都学会了。”</span>
			</div>
			<div class="main-cell-tool">
				<span>2017-03-30 06:00:00</span>
			<span class="ng-binding">收藏: 110</span>
			</div>
		</a>
	</li><li class="main-cell">
		<a href="#/musicDetail/10823">
			<div class="main-cell-tag">
				<span class="ng-binding"> - 音乐 -</span>
			</div>
			<div class="main-cell-title">
				<span class="ng-binding">千万不要一个人去看他的演唱会</span>
			</div>
			<div class="main-cell-author">
				<span class="ng-binding">作者: 枕枕</span>
			</div>
			<div class="main-cell-icon">
				<img src="http://127.0.0.1/vue_angular01/images/a743d04622f03fda6781bbb0c8ce4127">
			</div>
			<div class="main-cell-forward">
				<span class="ng-binding">他开演唱会，粉丝林俊杰、蔡依林、张惠妹、萧敬腾都来了。</span>
			</div>
			<div class="main-cell-tool">
				<span>2017-03-30 12:00:00</span>
			<span class="ng-binding">收藏: 182</span>
			</div>
		</a>
	</li><li class="main-cell">
		<a href="#/musicDetail/10833">
			<div class="main-cell-tag">
				<span class="ng-binding"> - 音乐 -</span>
			</div>
			<div class="main-cell-title">
				<span class="ng-binding">她又盲又穷，却活成了你最想要的样子</span>
			</div>
			<div class="main-cell-author">
				<span class="ng-binding">作者:  柿子</span>
			</div>
			<div class="main-cell-icon">
				<img src="http://127.0.0.1/vue_angular01/images/b3b160ae7d52ffdfa2adc42409fae09e">
			</div>
			<div class="main-cell-forward">
				<span class="ng-binding">大部分的人都向往诗和远方，却很难像Dona Rosa一样，为了找到那片海而不顾一切。</span>
			</div>
			<div class="main-cell-tool">
				<span>2017-03-30 16:00:00</span>
			<span class="ng-binding">收藏: 93</span>
			</div>
		</a>
	</li><li class="main-cell">
		<a href="#/movieDetail/10776">
			<div class="main-cell-tag">
				<span class="ng-binding"> - 影视 -</span>
			</div>
			<div class="main-cell-title">
				<span class="ng-binding">为啥漫威反派总是打不赢？因为他们没有BGM</span>
			</div>
			<div class="main-cell-author">
				<span class="ng-binding">作者: 不存在</span>
			</div>
			<div class="main-cell-icon">
				<img src="http://127.0.0.1/vue_angular01/images/853ede3d6f19088949ef9d44a6eb294f">
			</div>
			<div class="main-cell-forward">
				<span class="ng-binding">漫威粉自黑：给你讲个笑话，漫威电影有配乐。
</span>
			</div>
			<div class="main-cell-tool">
				<span>2017-03-27 06:00:00</span>
			<span class="ng-binding">收藏: 147</span>
			</div>
		</a>
	</li><li class="main-cell">
		<a href="#/movieDetail/10866">
			<div class="main-cell-tag">
				<span class="ng-binding"> - 影视 -</span>
			</div>
			<div class="main-cell-title">
				<span class="ng-binding">约P什么下场，我来告诉你</span>
			</div>
			<div class="main-cell-author">
				<span class="ng-binding">作者: 结冰</span>
			</div>
			<div class="main-cell-icon">
				<img src="http://127.0.0.1/vue_angular01/images/3a0a5954d645ea3fae4aa379db03cc0e">
			</div>
			<div class="main-cell-forward">
				<span class="ng-binding">你，约过吗？</span>
			</div>
			<div class="main-cell-tool">
				<span>2017-03-31 06:00:00</span>
			<span class="ng-binding">收藏: 18</span>
			</div>
		</a>
	</li>
</ul>
</div>