<link rel="stylesheet" type="text/css" href="css/movie.css"/>
<div class="movie-detail-box">
    <div class="cover">
        <img src="http://127.0.0.1/vue_angular01/images/5bc932820fe282d3cbf89b96fbdc4a2a">
    </div>
    <div class="player-box">
        <video controls="controls" src="http://127.0.0.1/vue_angular01/images/dzs.mp4" width="100%"></video>
    </div>
    <div class="title">
        <span>《这部五年前完结的美剧，才是女性剧的巅峰》</span>
    </div>
    <div class="info">
        <span>导演: Larry Shaw
编剧: 马克·切利
主演: 泰瑞·海切尔 / 菲丽西提·霍夫曼 / 玛西亚·克劳斯 / 伊娃·朗格利亚
类型: 剧情 / 喜剧 / 爱情</span>
    </div>
    <div class="desc">
        <div>- 剧情简介 -</div>
        <div>美景镇上的八卦，层出不穷。</div>
    </div>
        <div class="background">
        <img src="http://127.0.0.1/vue_angular01/images/5bc932820fe282d3cbf89b96fbdc4a2a">
    </div>
</div>