<link rel="stylesheet" type="text/css" href="css/movie.css" />
<div class="table-view">
    <div class="movie-cell">
        <a href="#/movieDetail/10742">
            <div class="movie-cell-tag">
                <span>- 影视 -</span>
            </div>
            <div class="movie-cell-title">
                <span>这部五年前完结的美剧，才是女性剧的巅峰 </span>
            </div>
            <div class="movie-cell-author">
                <span>作者: </span>
            </div>
            <div class="movie-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/87abee1e03755c330e8dd1a418c99e64">
            </div>
            <div class="movie-cell-subtitle">
                <span>《绝望主妇》</span>
            </div>
            <div class="movie-cell-forward">
                <span>注: 你一生中不得不追的剧，必定有它！</span>
            </div>
        </a>
    </div><div class="movie-cell">
        <a href="#/movieDetail/10776">
            <div class="movie-cell-tag">
                <span>- 影视 -</span>
            </div>
            <div class="movie-cell-title">
                <span>为啥漫威反派总是打不赢？因为他们没有BGM </span>
            </div>
            <div class="movie-cell-author">
                <span>作者: </span>
            </div>
            <div class="movie-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/853ede3d6f19088949ef9d44a6eb294f">
            </div>
            <div class="movie-cell-subtitle">
                <span>《复仇者联盟》</span>
            </div>
            <div class="movie-cell-forward">
                <span>注: 漫威粉自黑：给你讲个笑话，漫威电影有配乐。
</span>
            </div>
        </a>
    </div><div class="movie-cell">
        <a href="#/movieDetail/10777">
            <div class="movie-cell-tag">
                <span>- 影视 -</span>
            </div>
            <div class="movie-cell-title">
                <span>听蝙蝠侠说，有一种超能力叫“我很有钱” </span>
            </div>
            <div class="movie-cell-author">
                <span>作者: </span>
            </div>
            <div class="movie-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/caa6667c8de5383cd3b96bff74f176b7">
            </div>
            <div class="movie-cell-subtitle">
                <span>《正义联盟》</span>
            </div>
            <div class="movie-cell-forward">
                <span>注: 《正义联盟》最新预告。</span>
            </div>
        </a>
    </div><div class="movie-cell">
        <a href="#/movieDetail/10791">
            <div class="movie-cell-tag">
                <span>- 影视 -</span>
            </div>
            <div class="movie-cell-title">
                <span>影史上最邪魅的反派角色：“抖森” </span>
            </div>
            <div class="movie-cell-author">
                <span>作者: </span>
            </div>
            <div class="movie-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/4e512378d919c90111d47f171e47411e">
            </div>
            <div class="movie-cell-subtitle">
                <span>《金刚：骷髅岛》</span>
            </div>
            <div class="movie-cell-forward">
                <span>注: 汤姆•希德勒斯顿电影十佳。</span>
            </div>
        </a>
    </div><div class="movie-cell">
        <a href="#/movieDetail/10809">
            <div class="movie-cell-tag">
                <span>- 影视 -</span>
            </div>
            <div class="movie-cell-title">
                <span>别以为他们是丧尸，你就可以不把他们当人看 </span>
            </div>
            <div class="movie-cell-author">
                <span>作者: </span>
            </div>
            <div class="movie-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/2aa4918c2b7dc1d9670d65e670de60fe">
            </div>
            <div class="movie-cell-subtitle">
                <span>《人间失格》</span>
            </div>
            <div class="movie-cell-forward">
                <span>注: 这对丧尸夫夫才是懂爱之人啊！</span>
            </div>
        </a>
    </div><div class="movie-cell">
        <a href="#/movieDetail/10817">
            <div class="movie-cell-tag">
                <span>- 影视 -</span>
            </div>
            <div class="movie-cell-title">
                <span>约会很痛苦，恋爱没屁用，不如我们结婚吧哈哈哈 </span>
            </div>
            <div class="movie-cell-author">
                <span>作者: </span>
            </div>
            <div class="movie-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/c040d4bee4c1528223536d9e1d165340">
            </div>
            <div class="movie-cell-subtitle">
                <span>《约会～恋爱究竟是什么呢》</span>
            </div>
            <div class="movie-cell-forward">
                <span>注: 史上最尴尬的翻拍剧诞生，但它的原版可是部神作。</span>
            </div>
        </a>
    </div><div class="movie-cell">
        <a href="#/movieDetail/10852">
            <div class="movie-cell-tag">
                <span>- 影视 -</span>
            </div>
            <div class="movie-cell-title">
                <span>它们能给予的陪伴与守护，人类无法企及 </span>
            </div>
            <div class="movie-cell-author">
                <span>作者: </span>
            </div>
            <div class="movie-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/2d81fdca00ca372a4df828644c9addf4">
            </div>
            <div class="movie-cell-subtitle">
                <span>《星星守护犬》</span>
            </div>
            <div class="movie-cell-forward">
                <span>注: 有些时候，还真是人不如狗。</span>
            </div>
        </a>
    </div><div class="movie-cell">
        <a href="#/movieDetail/10866">
            <div class="movie-cell-tag">
                <span>- 影视 -</span>
            </div>
            <div class="movie-cell-title">
                <span>约P什么下场，我来告诉你 </span>
            </div>
            <div class="movie-cell-author">
                <span>作者: </span>
            </div>
            <div class="movie-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/3a0a5954d645ea3fae4aa379db03cc0e">
            </div>
            <div class="movie-cell-subtitle">
                <span>《情事》</span>
            </div>
            <div class="movie-cell-forward">
                <span>注: 你，约过吗？</span>
            </div>
        </a>
    </div><div class="movie-cell">
        <a href="#/movieDetail/10867">
            <div class="movie-cell-tag">
                <span>- 影视 -</span>
            </div>
            <div class="movie-cell-title">
                <span>我在《八月》的黑白中，找到了自己的童年记忆 </span>
            </div>
            <div class="movie-cell-author">
                <span>作者: </span>
            </div>
            <div class="movie-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/0d6d77b11b53002f258c2259636ac4f0">
            </div>
            <div class="movie-cell-subtitle">
                <span>《八月》</span>
            </div>
            <div class="movie-cell-forward">
                <span>注: 看完全片，我似乎完全忘了这部电影的顺序，但却记得它的每一个细节。</span>
            </div>
        </a>
    </div><div class="movie-cell">
        <a href="#/movieDetail/10868">
            <div class="movie-cell-tag">
                <span>- 影视 -</span>
            </div>
            <div class="movie-cell-title">
                <span>如何更有趣地吐槽？把握尺度，起于自黑，止于扫射 </span>
            </div>
            <div class="movie-cell-author">
                <span>作者: </span>
            </div>
            <div class="movie-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/dd794d54b99b15da72da9f86adabc9ba">
            </div>
            <div class="movie-cell-subtitle">
                <span>《吐槽大会》</span>
            </div>
            <div class="movie-cell-forward">
                <span>注: 看看《吐槽大会》你就懂了。</span>
            </div>
        </a>
    </div>
</div>