<link rel="stylesheet" type="text/css" href="css/music.css" />
<div class="table-view">
    <div class="music-cell">
        <a href="#/musicDetail/10807">
            <div class="music-cell-tag">
                <span>- 音乐 -</span>
            </div>
            <div class="music-cell-title">
                <span>下雨的时候听他们的歌，总让我想起呆在南方的日子 </span>
            </div>
            <div class="music-cell-author">
                <span>作者: 昔央</span>
            </div>
            <div class="music-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/17dab2ec634196c9a09ec8031cf927b4">
                <div class="music-cell-icon-center"></div>
            </div>
            <div class="music-cell-forward">
                <span>青春不也是这样么，总是在最辉煌的时候戛然而止，画上急促的句点。</span>
            </div>
            <div class="music-cell-tool">
                <span>2017-03-29 10:00:00</span>
                <span>收藏: 159</span>
            </div>
        </a>
    </div><div class="music-cell">
        <a href="#/musicDetail/10821">
            <div class="music-cell-tag">
                <span>- 音乐 -</span>
            </div>
            <div class="music-cell-title">
                <span>音乐之声里的熊孩子，也躲不过岁月这把刀 </span>
            </div>
            <div class="music-cell-author">
                <span>作者:  Cammy</span>
            </div>
            <div class="music-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/50ce8cdbd577e3c59592bb5491e2aaf8">
                <div class="music-cell-icon-center"></div>
            </div>
            <div class="music-cell-forward">
                <span>再见，岁月。你好，人生。</span>
            </div>
            <div class="music-cell-tool">
                <span>2017-03-29 12:00:00</span>
                <span>收藏: 150</span>
            </div>
        </a>
    </div><div class="music-cell">
        <a href="#/musicDetail/10822">
            <div class="music-cell-tag">
                <span>- 音乐 -</span>
            </div>
            <div class="music-cell-title">
                <span>王菲：旧梦失去有新侣作伴 </span>
            </div>
            <div class="music-cell-author">
                <span>作者: 苏试试</span>
            </div>
            <div class="music-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/e482710b415b78f560bb47cfe3a3eaac">
                <div class="music-cell-icon-center"></div>
            </div>
            <div class="music-cell-forward">
                <span>会有歌声记录她们褶皱中看不见的眼泪，也需要有歌声去为她们勾勒一个永远年轻的梦。</span>
            </div>
            <div class="music-cell-tool">
                <span>2017-03-29 16:00:00</span>
                <span>收藏: 146</span>
            </div>
        </a>
    </div><div class="music-cell">
        <a href="#/musicDetail/10823">
            <div class="music-cell-tag">
                <span>- 音乐 -</span>
            </div>
            <div class="music-cell-title">
                <span>千万不要一个人去看他的演唱会 </span>
            </div>
            <div class="music-cell-author">
                <span>作者: 枕枕</span>
            </div>
            <div class="music-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/a743d04622f03fda6781bbb0c8ce4127">
                <div class="music-cell-icon-center"></div>
            </div>
            <div class="music-cell-forward">
                <span>他开演唱会，粉丝林俊杰、蔡依林、张惠妹、萧敬腾都来了。</span>
            </div>
            <div class="music-cell-tool">
                <span>2017-03-30 12:00:00</span>
                <span>收藏: 182</span>
            </div>
        </a>
    </div><div class="music-cell">
        <a href="#/musicDetail/10824">
            <div class="music-cell-tag">
                <span>- 音乐 -</span>
            </div>
            <div class="music-cell-title">
                <span>我们为什么喜欢高晓松？ </span>
            </div>
            <div class="music-cell-author">
                <span>作者: 蓝小姐</span>
            </div>
            <div class="music-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/1cd0e8ef2c185f4d3eb64dfe1405c99a">
                <div class="music-cell-icon-center"></div>
            </div>
            <div class="music-cell-forward">
                <span>他那银盆般的大脸，可不就是碎琐生活里升起的一轮月亮。</span>
            </div>
            <div class="music-cell-tool">
                <span>2017-03-29 19:00:00</span>
                <span>收藏: 292</span>
            </div>
        </a>
    </div><div class="music-cell">
        <a href="#/musicDetail/10830">
            <div class="music-cell-tag">
                <span>- 音乐 -</span>
            </div>
            <div class="music-cell-title">
                <span>郝云：这个卖艺小青年写的歌，总能轻易走进你的心 </span>
            </div>
            <div class="music-cell-author">
                <span>作者: 晴填填</span>
            </div>
            <div class="music-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/f133ec9e35ea75b425f21ed32f56202b">
                <div class="music-cell-icon-center"></div>
            </div>
            <div class="music-cell-forward">
                <span>唯独郝云的歌，一下子钻到了她的血液里，每首歌都那么有感情，有触动，接地气……</span>
            </div>
            <div class="music-cell-tool">
                <span>2017-03-30 10:00:00</span>
                <span>收藏: 106</span>
            </div>
        </a>
    </div><div class="music-cell">
        <a href="#/musicDetail/10831">
            <div class="music-cell-tag">
                <span>- 音乐 -</span>
            </div>
            <div class="music-cell-title">
                <span>祝你爱的歌手永远不火，小众一生 </span>
            </div>
            <div class="music-cell-author">
                <span>作者: 王悦</span>
            </div>
            <div class="music-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/dd6b143fa0801f7a9e7b41f24bb25a46">
                <div class="music-cell-icon-center"></div>
            </div>
            <div class="music-cell-forward">
                <span>“要猜着你的心，要再一次决定，混乱的思绪都是因为太想靠近你。”</span>
            </div>
            <div class="music-cell-tool">
                <span>2017-03-30 19:00:00</span>
                <span>收藏: 254</span>
            </div>
        </a>
    </div><div class="music-cell">
        <a href="#/musicDetail/10833">
            <div class="music-cell-tag">
                <span>- 音乐 -</span>
            </div>
            <div class="music-cell-title">
                <span>她又盲又穷，却活成了你最想要的样子 </span>
            </div>
            <div class="music-cell-author">
                <span>作者:  柿子</span>
            </div>
            <div class="music-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/b3b160ae7d52ffdfa2adc42409fae09e">
                <div class="music-cell-icon-center"></div>
            </div>
            <div class="music-cell-forward">
                <span>大部分的人都向往诗和远方，却很难像Dona Rosa一样，为了找到那片海而不顾一切。</span>
            </div>
            <div class="music-cell-tool">
                <span>2017-03-30 16:00:00</span>
                <span>收藏: 93</span>
            </div>
        </a>
    </div><div class="music-cell">
        <a href="#/musicDetail/10848">
            <div class="music-cell-tag">
                <span>- 音乐 -</span>
            </div>
            <div class="music-cell-title">
                <span>又过了多少不起眼的日子，又吃了多少食之无味的晚餐 </span>
            </div>
            <div class="music-cell-author">
                <span>作者: 泽祎</span>
            </div>
            <div class="music-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/f05676ef4c9527b02037529e6de9f7b0">
                <div class="music-cell-icon-center"></div>
            </div>
            <div class="music-cell-forward">
                <span>大概这世界上的茫然和孤单，都是同一个形状，散发着同一种气味的。</span>
            </div>
            <div class="music-cell-tool">
                <span>2017-03-31 10:00:00</span>
                <span>收藏: 43</span>
            </div>
        </a>
    </div><div class="music-cell">
        <a href="#/musicDetail/10855">
            <div class="music-cell-tag">
                <span>- 音乐 -</span>
            </div>
            <div class="music-cell-title">
                <span>共用一部手机、一个账号和一个钱包，这就是他们的爱情 </span>
            </div>
            <div class="music-cell-author">
                <span>作者: 民谣摇滚_FolkRock</span>
            </div>
            <div class="music-cell-icon">
                <img src="http://127.0.0.1/vue_angular01/images/f1b01b589c852a1276528891403b0311">
                <div class="music-cell-icon-center"></div>
            </div>
            <div class="music-cell-forward">
                <span>我不要的自由，是没有你的陪伴。</span>
            </div>
            <div class="music-cell-tool">
                <span>2017-03-31 12:00:00</span>
                <span>收藏: 28</span>
            </div>
        </a>
    </div>
</div>