<link rel="stylesheet" type="text/css" href="css/music.css" />
<div class="player-box">
	<audio autoplay="autoplay" controls="" src="http://127.0.0.1/vue_angular01/images/lalala.mp3"></audio>
</div>
<div class="music-detail-icon">
	<img src="http://127.0.0.1/vue_angular01/images/7ae036e28cc71641b54884b5029e1b7e">
</div>
<div class="music-detail-album">
	<span>黄金时代Live</span>
</div>
<div class="music-detail-author-title">
	<span>下雨的时候听他们的歌，总让我想起呆在南方的日子</span>
</div>
<div class="music-detail-story">
	<div class="music-detail-story-title">
		下雨的时候听他们的歌，总让我想起呆在南方的日子
	</div>
	<div class="music-detail-story-author">
		作者: 昔央
	</div>
	<div class="music-detail-story-content">
		<span>
<img alt="" src="http://image.wufazhuce.com/Fn10sGBJAoL6ltqxsksh7FmvpSMk?imageView2/2/w/394" style="height:498px; width:394px"><br>
<strong>1、</strong><br>
<br>
北京这几日突然降温，自然也少不了没完没了的雨水。很多区域的暖气已经停了，穿着薄外套穿行在道路两旁，会迎来刺骨的寒风。<br>
&nbsp;<br>
耳机里随机播放的是达达乐队的《南方》。很久之前，彭坦说，之所以写这首歌，是因为某天的北京夜晚，突降骤雨，那晚他没关窗户，窗外潮湿的感觉扑面而来，那感觉让他记起在武汉的日子。<br>
&nbsp;<br>
今天我在公车上听到这首歌，一抬头，玻璃窗上一片氤氲，窗外行人步履匆忙。令我恍恍惚惚记起一些在南方的生活片段：记起奶奶在门前为我织辫子，蝴蝶翩翩起舞，微风徐徐；记起冬日清晨伴着第一缕阳光和我打雪仗的母亲…….还有，那个和暗恋的小男生一起躲过春雨的屋檐下，我们救助过一只流浪猫。<br>
&nbsp;<br>
南方一词总和浪漫画上等号，听达达的歌更是如此。他们的《南方》里有潮湿的空气、松软的泥土、清新的雨水和一天天的浪漫。<br>
&nbsp;<br>
也是他们让我明白：没有什么是最重要，日子随着阴晴变换莫测。其实人生除了死亡，其他都是层层叠叠没有尽头的，故事正在发生着，我们也随时可能随着音乐回到过去。<br>
&nbsp;<br>
<strong>2、<br>
<img alt="" src="http://image.wufazhuce.com/FvOLkyHa0LvEd3J_i3jwOoUCohlH?imageView2/2/w/394" style="height:396px; width:394px"></strong><br>
这首达达乐队的《南方》，词曲皆为彭坦所作。歌曲出自乐队的第二张专辑《黄金时代》。这张专辑也真真正正为这个乐队缔造出了一个“黄金时代”。<br>
&nbsp;<br>
作为中国内地第一支也是唯一一支签约全球五大唱片公司的中国摇滚乐队，专辑里比较脍炙人口的一些歌，如《南方》《黄金时代》《浮出水面》等影响了一代又一代的年轻人。<br>
&nbsp;<br>
在这张专辑中，达达乐队的风格较之第一张的《天使》，已经有了很大的不同。上一张激越和快速的曲风在这一张已变成一种更为稳重和成熟的色彩。《黄金时代》带有一种更为吉他民谣色彩的清新平静，一种更为纯美且略带伤感的情绪，一种更有旋律性和可听性的平衡感。<br>
<br>
同名歌曲《黄金时代》，放到今天，也未必有可媲美的曲目，混音中表现的晦暗张力，牢牢抓住人的听觉，将刮碟的声音带进高潮，给人一种似要窒息的惊艳体验；歌曲《Song F》把青春年少的伤感和明朗一并唱尽，《南方》将成长的记忆化成了一种不可名状的，歇斯底里的惆怅，《午夜说再见》把邂逅的唯美浪漫营造成一种极致和优雅。还有像《巴巴罗萨》《无双》两种鲜明的情绪变化，《浮出水面》的恬静躁动，《收音机之恋》的自然从容，《等待》的期许执着，《Rock life》的戏谑辛辣。<br>
&nbsp;<br>
<strong>3、</strong><br>
<br>
其实早在2005年，乐队已经秘密解散，彭坦单飞了。单飞后还出了一张专辑，名为《少年故事》。专辑里的歌据彭坦本人描述，灵感大多源自电影，如《春光乍泄》《牯岭街少年杀人事件》《孔雀》等。除此之外，专辑里面还有一首《GameOver》讲的就是乐队的解散。<br>
&nbsp;<br>
乐队内部从2000年后就存在一些分歧，那时大家觉得想继续做下去的冲劲没有了。在所有人冷静了一段时间后，彭坦做出了最后的决定，他把每个人都叫了出来，见到大家说的第一句话就是，“我觉得咱们该散了”。可能大家都知道为什么，于是真的自然而然就这么散了，谁也没说话。<br>
&nbsp;<br>
乐队解散之后，有一阵子，彭坦开始买很多职业招聘的报纸，拿着笔在上面划着，到处找工作。<br>
<img alt="" src="http://image.wufazhuce.com/FjHvMM6Bx9gx-yE49CSjQ3bvkTlj?imageView2/2/w/394" style="height:315px; width:394px"><br>
“当时想法很简单，想去当当网送快递，那样可以每天骑着自行车把书送给别人，还考虑过在书店或咖啡馆当个小店员，做做咖啡。经济来源没有了，我要面对的就是如何生活，吃饱饭。所以我开始帮助人写歌、写曲，最有名的就是那时帮何炅做了首歌，因为只有不停地工作，才能把脑子里的事忘掉。”<br>
&nbsp;<br>
直到2006年的北京国际流行音乐节的到来，彻底改变了彭坦的决定。<br>
&nbsp;<br>
“音乐节来了我最喜欢的乐队Supergrass，唱了我最喜欢的那首歌《Moving》。”作为Supergrass的乐迷，彭坦挤到了第一排。“Moving, just keep moving。”这是《Moving》的第一句歌词。“Supergrass声音一出，我整个人就崩溃了，有一种被一个大嘴巴抽醒的感觉。我在心里骂自己，骂自己为什么会自甘堕落，这么软弱。”<br>
&nbsp;<br>
站在第一排的彭坦看到主唱的眼神，听到那声音，即刻唤起了自己内心深处真正渴望的东西，“我应该站在舞台上，我觉得他就是我。我也应该站在这，而不是在这假装可怜找工作。”彭坦再也没想找工作的事情，他开始专心写歌，于是有了我们现在看到的彭坦。<br>
&nbsp;<br>
如今的彭坦，似乎再不是大家记忆中的那个达达乐队的主唱了。2013年的时候，他留了长发、蓄起了胡子，再出现在舞台上，大家都觉得“他变了”。<br>
&nbsp;<br>
而对于造型的改变，彭坦把它当做一种仪式，“从专辑制作开始我就没有剪发，并且会一直留到这张专辑宣传结束。多年来，我所唱的主题一直都没有变，都是有关于少年、青春、失落以及理想，所变的是我这三年来的经历，以及对于这些词语的领悟。”<br>
&nbsp;<br>
“不喜欢用智能机，每天若刷微博、看网页，我就干不了其他事情”，“博客是我与外界交流的唯一途径”，彭坦静得令人出奇。从宣恩到武汉，再从武汉到北京，彭坦经历过两次“迁徙”。初来武汉被同学们欺负，刚来北京感觉到孤离。逃离自己最为熟悉的地方，来到完全陌生的环境，随着时间慢慢地去适应，“迁徙让我一步步地坚强起来。”<br>
<br>
《迁徙》也成了他后来新专辑的名字。在迁徙的过程中，他越来越了解自己，越来越清楚自己要的是什么。<br>
<img alt="" src="http://image.wufazhuce.com/Fh2GSqRHYR56ah_dFZ4V2kl6_-lP?imageView2/2/w/394" style="height:483px; width:394px"><br>
从这些故事和经历里我总想起王小波写过的那段话：<br>
&nbsp;<br>
“那一年我21岁，在我一生的黄金时代，我有好多奢望。我想爱，想吃，还想在一瞬间变成天上半明半暗的云。后来我才知道，生活就是个缓慢受锤的过程，人一天天老下去，奢望也一天天消失，最后变得像挨了锤的牛一样。可是我21岁时没有预见到这一点。我觉得自己会永远生猛下去，什么也锤不了我。”<br>
&nbsp;<br>
成长固然是好事，但伴随成长的，是青春的逝去。如果说有一支乐队能正好地表达青春，在我心中这个位置一定是达达。他们最好的时代就是《黄金时代》那一张专辑。令人惊讶的是，他们竟然是在最巅峰的时刻解散了乐队。<br>
&nbsp;<br>
<strong>可青春不也是这样么，总是在最辉煌的时候戛然而止，画上急促的句点。</strong><br>
<br>
文/昔央</span>
	</div>
</div>