<link rel="stylesheet" type="text/css" href="css/read.css"/>
<div class="read-title">
    <span>梦想一点都不伟大，但我还是想做有志向的三流</span>
</div>
<div class="read-author">
    <span>作者: 傅踢踢</span>
</div>
<div class="read-content">
    <span>
<img alt="" src="http://image.wufazhuce.com/Fh5anIdJ_gwuTWOAuMWSQM6Xu-bC?imageView2/2/w/394" style="height:262px; width:394px"><br>
《四重奏》完结了。如果以个人趣味来品评，它早早预定了我心中的日剧年度最佳。关于爱情和生活，已经写过两次，今天最后一篇，来聊聊梦想。<br>
&nbsp;<br>
《四重奏》一开始就有过蚂蚁和蟋蟀的比喻。蚂蚁把梦想当兴趣，能够毫无影响地生活。蟋蟀更坚持梦想，却因此掉进旋涡。<br>
&nbsp;<br>
与此对应的是另一个桥段:“甜甜圈洞”四重奏为谋生计，不得不穿着奇装异服，念着古怪的台词，还要靠播放录音“假演”博观众一笑。<br>
&nbsp;<br>
哪怕牺牲至此，导演也没有放过他们，说了这样的评语：“按照客户要求来的是一流的工作，尽自己最大努力的是二流的工作，像我们这样的三流，就是开心地做事就行了。有志向的三流，就是四流了。”<br>
&nbsp;<br>
“甜甜圈洞”偏偏要做四流。虽然因为天赋有限而备受轻视，虽然四个人都要时不时地物色工作以备经济上的断流，虽然靠着阿卷的身份噱头走进了音乐厅，多数观众只听完一曲就扬长而去，但这些并不影响四重奏对于音乐的坚持。<br>
<br>
<img alt="" src="http://image.wufazhuce.com/FlQ3r_m6-YXWRVSalfQmkpjG3cgc?imageView2/2/w/394" style="height:237px; width:394px">&nbsp;<br>
在很多人眼里，艺术或者说梦想，就是甜甜圈上的洞，可有可无。但用别府的话说，没有这个洞，甜甜圈就是一块油腻无趣的大饼而已。正是缺陷和不足，使得甜甜圈有别于大饼，呈现出自己独有的样子。<br>
&nbsp;<br>
眼下是一个贩售梦想的时代。对于成功者，梦想是增光添彩的包包手表。对于普通人，梦想是聊以自慰的精神鸦片。但这里的梦想，常常是高高在上凌空蹈虚的妄念，看上去很美，却遥不可及。<br>
&nbsp;<br>
而按我理解，梦想应该是量力而行，又苦心经营。比如一个写作者，可以把诺贝尔文学奖视作梦想，但这多数是嘴炮和幻觉。<br>
&nbsp;<br>
真正的梦想，本质上是一种纠结：我们究竟是不是要为了这些美好的可能，放弃一些捷径，接纳一些苟且。努力奋斗也可能徒劳的目标，才是梦想。<br>
&nbsp;<br>
你想成为小说家，能够忍受退稿的折磨和清贫的生活吗？你想成为企业家，能够坚持每周7天每天至少12小时的工作吗？你想开一家咖啡馆，能够每天5点起床进货，晚上23点关门盘点吗？如果可以，你就走在追求梦想的道路上。<br>
&nbsp;<br>
<img alt="" src="http://image.wufazhuce.com/Fm3FuWMJDnfIEqFL6ZhTi-aizTN7?imageView2/2/w/394" style="height:262px; width:394px"><br>
当然，梦想的路并不好走，时时有诱惑，处处是危险。<br>
&nbsp;<br>
最近见一些创业失败的朋友，前两年意气风发踌躇满志，如今经济低迷投资谨慎，资金断链之后，整个人都弥漫着颓丧的气息。虽然没有立场当面安慰，但我特别想拍拍他们的肩膀，说上一声：“兄弟，辜负你的不是梦想，是现实。关于未来，是不是妥协都没关系。只要有过梦想，哪怕离开都能面带笑容。”<br>
&nbsp;<br>
并非每个人都能成为一流，甚至连二流都够呛，但在三流的浮浮沉沉里，能始终保有一颗向上的心，哪怕结果是沦为四流，也是一件令人欣慰的事。因为，打拼的充实和快乐是无可取代的。<br>
&nbsp;<br>
不是只有成功的梦想才值得赞颂，失败的梦想，同样千金不换。<br>
&nbsp;<br>
“假演”散场之后，四重奏来到露天广场，把原先想要呈现的音乐奉献给路人。观众停下来，欢呼叫好，随之舞动。音乐厅演出之后，空了大半的观众席，还是爆发出持续的掌声。<br>
&nbsp;<br>
对看惯了奇迹和圆满的我们来说，这种充斥着遗憾的梦想，或许更加真实动人。<br>
<br>
<img alt="" src="http://image.wufazhuce.com/Fp-nQTPyFI0uLZ_DqT8B6104WXNe?imageView2/2/w/394" style="height:262px; width:394px"><br>
我的师弟卷卷做了一个戏剧领域的公众号“好戏”。前两天，“好戏”三周年，他们也有了新动作。我转发朋友圈以表祝贺。<br>
&nbsp;<br>
转发语是这样写的：“我想着，但愿有一天，我们会放下手里排得满满当当的工作，重新坐在一起，聊聊这些误打误撞又兀自坚持的时光，应该也是很美好的回忆。不用多花哨，叫《我们这些年》都行。”<br>
&nbsp;<br>
我相信，那时候，围坐在一起的，肯定有世俗定义里的成功者和失败者。但这些人有一个共同的名字：追梦人。<br>
&nbsp;<br>
我去过很多次李宗盛的演唱会，也见到不少观众触景伤情边唱边哭。<br>
&nbsp;<br>
我也哭，但泪点很奇怪。每当大叔唱起“当我尝尽人情冷暖，当你决定为了你的理想燃烧，生活的压力与生命的尊严，哪一个重要”，我总会想：再小的鸟，飞得再低，也渴望一片梦想的天空。</span>
</div>
<div class="tool-bar">
	<span ng-click="dealCollect()">
		<img class="collect-button" src="img/bubble_collect.png"/>
	</span>
</div>