<link rel="stylesheet" type="text/css" href="css/userMain.css"/>
<div class="user-main">
<div class="info">
    <div class="headimage">
        <img src="img/head.png">
    </div>
    <div class="username">
        用户名
    </div>
</div>
<div class="tableview favorite">
    <div class="tableview-section">
        <div class="section-header show">收藏</div>
        <div class="cells">
            <div class="tableview-cell">
        <a href="#/favoriteList/1"><div>
            <img class="cell-icon" src="img/center_reading_collection.png">
            阅读
            </div>
        </a>
        </div>
        <div class="tableview-cell">
            <a href="#/favoriteList/4">
        <div>
            <img class="cell-icon" src="img/center_music_collection.png">
        音乐
        </div>
        </a>
        </div>
        <div class="tableview-cell">
        <a href="#/favoriteList/5">
        <div>
        <img class="cell-icon" src="img/center_movie_collection.png">
        影视
        </div>
        </a>
        </div>
        </div>
        </div>
        <div class="tableview-section">
        <div class="section-header">
        </div>
        <div class="cells">
        <div class="tableview-cell">
        <img class="cell-icon exit" src="img/aliwx_reply_bar_close_normal.png">
        退出登录
        </div>
        </div>
        </div>
        <div class="tableview-section">
    </div>
    </div>
    <div class="table-cell favorite">
        <div class="table-cell"></div>
    </div>
</div>