<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Vue</title>
		<script src="../js/vue.min_01.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="box">
			<!--1.0(前提，在vue中有v-model)注意html中的value可以替换v-model
				2.0中不可以
			-->
			<input type="text"  v-model="str" value="111"/>
			<input type="text"  v-model="str"/>
			<hr />
			1.0版本可以这样绑定，2.0会出错
			<select v-model="str">
				<option value="{{str}}">{{str}}</option>
				<option value="中国">中国</option>
				<option value="美国">美国</option>
			</select>
			
			<select >
				<option :value="{{str}}">{{str}}</option>
				<option value="中国">中国</option>
				<option value="美国">美国</option>
			</select>
			<textarea style="width: 500px;height: 100px;" rows="20" cols="10" v-model="str"></textarea>	
			{{str}}
		</div>
	</body>
	<script type="text/javascript">
		//双向数据绑定，一个改变都会改变，始终保持数据统一
		new Vue({
			el:'#box',  //element的简写，选择器id,class,*,元素,
			//注意版本兼容:vue 2.0不支持body.html    vue1.0支持body
			data:{
				str:'我是默认的',
			}
		})
	
	</script>
</html>
