<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/angular.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body ng-app="box">
		<div ng-controller="content">
			<input type="text" ng-model="str" />
			<ul>
				<li ng-repeat="item in datas" >{{item}}</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript">
		var app = angular.module('box',[]);
		app.controller('content',function ($scope,$http) {
			$scope.str='';
			$scope.datas = [];
			$scope.$watch('str',function () {
				$http.jsonp('https://sug.so.360.cn/suggest',{params:{
					word:$scope.str,
					callback:'JSON_CALLBACK'
				}}).success(function (res) {
					$scope.datas = res.s  //这种写法不用res.data
				}).error(function (res) {
					alert('失败'+res.status)
				})
			})
		})
	</script>
</html>
