<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>组件</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../js/vue.js"></script>
    <style>
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="newTodoText" @keyup.enter="addTodoText">
        <ol>
            <!-- 这里的 is="todo-item" 就相当于 <todo-item></todo-item> -->
            <li is="todo-item" v-for="(item,index) in todos" :todo="item" @remove="todos.splice(index,1)" :key="index"></li>
        </ol>
    </div>
</body>
<script>

    // props   父向子传递的参数   //$emit('event',data) 子向父传的方法。第一个参数是事件，第二个参数是要传递的数据
    Vue.component('todo-item', {
        props: ["todo"],
        template:`
            <li>\
            {{ todo }}\
            <button @click="$emit(\'remove\')">x</button>\  
            </li>\
            `
    });
    const app = new Vue({
        el:"#app",
        data:{
            newTodoText:"",
            todos: [
                'Do the dishes',
                'Take out teh trash',
                'Mow the lawn'
            ]
        },
        methods:{
            addTodoText:function(){
                this.todos.push(this.newTodoText);
                this.newTodoText = ''
            }
        }
    })
</script>

</html>